Package: com.darwindev.alternative-springboardservices
Name: Alternative SpringBoardServices
Version: 0.1-2
Section: Tweaks
Depends: firmware (>= 13.0), com.rpetrich.rocketbootstrap, com.opa334.libsandy
Architecture: iphoneos-arm
Author: Darwin Developer <82flex@gmail.com>
Maintainer: Darwin Developer <82flex@gmail.com>
Description: An alternative SpringBoardServices implementation for iOS 13 and above, especially for iOS 15 and above.

